services:
  - type: web
    name: project-backend
    env: node
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18

  - type: web
    name: project-frontend
    env: static
    rootDir: frontend
    buildCommand: npm run build
    staticPublishPath: dist
