.compare-container {
  padding: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #2a7b45;
  color: white;
}
