.home-container {
  text-align: center;
  margin-top: 10%;
  font-family: "Poppins", sans-serif;
}

.dropdown-container {
  margin-top: 20px;
}

select, button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background-color: #2a7b45;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #24673a;
}
